* {
    box-sizing: border-box
}

.body-1 {
    background-image: url(../assets/closedcurtains.png);
    background-size: cover;
}

.body-2 {
    background-image: url(../assets/opencurtains.png);
    background-size: cover;
    background-color: black;
    background-position: bottom;
    height: 100vh;
}

#search {
    justify-content: center;
    padding-top: 125px;
}

#enterMovie {
    text-align: center;
    font-style: oblique;
    color: gold;
}
#titleBtn {
    /* display: grsid; */
    background-image: url(../assets/reelicon.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor:pointer;
    border:none;
    width: auto;
    padding: 12px 16px;
    
}
s
.top-bar {
    background-color: black;
    margin: auto;
}

#poster {
    

}