* {
    box-sizing: border-box
}

.body-1 {
    background-image: url(../assets/closedcurtains.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.body-2 {
    background-image: url(../assets/opencurtains.png);
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#search {
    justify-content: center;
    padding-top: 125px;
}

#enterMovie {
    text-align: center;
    font-style: oblique;
    color: gold;
}
#titleBtn {
    /* display: grsid; */
    background-image: url(../assets/reelicon.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor:pointer;
    border:none;
    width: auto;
    
    
}
s
.top-bar {
    background-color: black;
    margin: auto;
}

.actors {
    width: 60%;
    margin-top: 15px;
    
}

#synopsis {
    color: gold;
    width: 60%;
    margin: auto;

}

#movie-details {
    color: gold;

}

#trailer {
    padding-top: 25px;
    margin: auto;
    width: 80%;
    text-align: center;
}